# General
.DS_Store
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
venv/
.venv/
.pytest_cache/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Expo / React Native
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*

# Backend Specific
backend/venv
backend/.venv
